<main>
  <img
    class="mb-4"
    src="../../public/images/YASMPFullLogo.png"
    alt="YASMP logo"
    width="72"
    height="57"
  />
  <h1 class="h3 mb-3 fw-normal">You are not signed in!</h1>
  <a href="/login">Already have an account? Click here to log-in</a>
</main>