<main class="form-signin w-100 m-auto">
  <form id="login-form" method="POST" action="/login">
    <img class="mb-4" src="../../public/images/YASMPFullLogo.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Welcome! Log-in here, YASMP awaits beyond...</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="name@example.com" required />
      <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="Password" required />
      <label for="passwordInput">Password</label>
    </div>
        {{#if error}}
      <div class="error-div">
        {{error}}
      </div>
    {{/if}}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <a href="/signup" class="mt-2">Click here to register!</a>

  </form>
</main>