<main class="form-signin w-100 m-auto">
  <img class="mb-4" src="../../public/images/YASMPFullLogo.png" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">You have been logged out!</h1>
  <a href="/login">Click here to Login</a>
  <a href="/signup">Click here to Register</a>
</main>