<main class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal">You have been logged out!</h1>
  <a href="/login">Click here to Login</a>
  <a href="/signup">Click here to Register</a>
</main>