 
  {{!-- @author Kajol Rajesh Shah <kajol.shsh@gmail.com> --}}
 
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">YASMP</a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link ml-4 mr-4 homeBtn"   href="#"><i class="fa-solid fa-house fa-md"></i></a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link ml-4 mr-4" href="#"><i class="fa-solid fa-heart fa-md"></i></a>
                </li> -->
                <!-- <li class="nav-item">
                <a class="nav-link ml-4 mr-4" href="#"><i class="fa-solid fa-gear fa-md"></i></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link ml-4 mr-4" href="/users"><i class="fa-solid fa-user fa-md"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-4 mr-4 dmBtn" data-toggle="modal" data-target="#dmModal"><i class="fa-solid fa-message fa-md"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-4 mr-4 postBtn"  data-toggle="modal" data-target="#postModal" ><i class="fa-solid fa-plus fa-md"></i></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link ml-4 mr-4" href="/logout"><i class="fa-solid fa-sign-out fa-md"></i></a>
                </li>
            </ul>
            </div>        
    </nav>

<div class="container d-flex justify-content-center mt-4">
<p class="errorHandlebars">{{error}}.</p>
</div>

{{!-- Comment Modal --}}

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Comments</h5>
        <button type="button" class="close commentClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container row allComments">
          
        </div>

        <form id="addComment" action="#">
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment"><br><br>
            <button type="submit" class="btn btn-primary">Save Comment</button>
        </form> 
        <p class="error"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary commentClose" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

{{!-- share Modal --}}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Share Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container row allUsers">
          
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

{{!-- Direct Message Modal --}}

<div class="modal fade" id="dmModal" tabindex="-1" role="dialog" aria-labelledby="dmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dmModalLabel">Direct Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container row allFollowers">
          
        </div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

{{!-- post Modal --}}

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Upload Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

                <div class="create-post-form">
        <form id="post-form">
            <label class="text-input" for="caption">Caption</label>
            <input type="text" id="caption" name="caption" value="{{post.caption}}" required/><br><br>
            <label class="image-input" for="imageUpload">Add a post to Upload</label>
            <input id="imageUpload" name="imageUpload" accept="image/*" class="form-control" type="file"/> <br><br>
            {{!-- <div id="invalid-image" class="invalid-feedback"> Please select at least one image </div> --}}
            <label class="text-input" for="tag">Tag</label>
            <input type="text" id="tag" name="tag" value="{{post.tags}}" required/><br><br>
            <button type="submit" class="btn btn-primary">Upload Post</button>
            <br><br>
            <p class="justify-content-center postError"></p>
        </form>
        </div>
       
             
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

<footer class="footer fixed-bottom text-center text-lg-start">
    
    <div class="text-center p-3">
      © 2022 Copyright:
      <a class="text-light" href="#">TEAM YASMP</a>
    </div>
    
  </footer>
 